body {
    background-color: #0b0c10;
    padding: 5% 0;
}

div {
    background-color: #1f2833;
    color: #45a29e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400px;
}

.content {
    color: #45a29e;
}

.code {
    color: #c5c6c7;
    border: 1px solid #c5c6c7;
    padding: 10px;
    border-radius: 7px;
}

.section {
    width: 750px;
    margin: 0 auto;
    padding: 3% 3%;
    background-color: #1f2833;
    border-radius: 7px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 7px 7px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}

.btn:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}

.btn:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.btn:active {
    background-color: #808080;
}

.btn:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
}